<%-include('../cabecalho.ejs')%>
<h1>Adicionar Genero</h1>
<div>
<a href="/genero/lst">Listar</a>
</div>
<div>
    <form  method="post">
        <label>Tipo:</label>
        <input type="text" name="tipo"><br>
        <button type="submit">Salvar</button>
    </form>
</div>

<%-include('../rodape.ejs')%>